*{
    padding: 0;
    margin: 0;
    border: 0;
}

*, *:before, *:after{
    box-sizing: border-box;
}

:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,button,textarea{font-family: inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding: 0; border: 0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul,li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size: inherit; font-weight: 400;}

.wrapper{
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

._container{
    max-width: 1032px;
    margin: 0 auto;
    padding: 0 15px;
}

._title{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 129%;
    text-align: center;
    letter-spacing: 0.18em;
    color: #000000;
    margin-bottom: 10px;
}

._text{}

._ibg{
    position: relative;
    //height: 100%;
    img{
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.header{
    width: 100%;
    background: #232323;

}

.header__container{}

.header__body{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 116px;
}

.header__body-left{
    display: flex;
    align-items: center;
}

.body-left__logo{}

.body-left__nav{
    margin-left: 60px;
    display: flex;
    align-items: center;
}

.body-left__nav-cataloges{
    p{
        font-family: Poppins;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 150%;
        color: #FFFFFF;
    }
}

.body-left__nav-cataloges{
    p:after{
        content: ' ^';
    }
}

.body-left__nav-brands{
    padding-left: 31px;
    p{
        font-family: Poppins;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 150%;
        color: #FFFFFF;
    }
}

.body-left__nav-brands {
    p:after{
        content: '^';
    }
}

.header__byrger{
    display: none;
    width: 30px;
    height: 20px;
    margin: 15px;
    position: relative;

    span{
        display: block;
        background: #FFF;
        position: absolute;
        top: 9px;
        width: 100%;
        height: 2px;
    }
}

.header__byrger::after{
    content: ' ';
    position: absolute;
    width: 100%;
    height: 2px;
    background: #FFF;
    bottom: 0;
}

.header__byrger::before{
    content: ' ';
    position: absolute;
    width: 100%;
    height: 2px;
    background: #FFF;
    top: 0;
}

.header__body-right{
    display: flex;
    align-items: center;
}

.body-right__search{}

.body-right__search-input{
    padding-right: 38px;
    input{
        min-height: 34px;
        background: #232323;
        border-bottom: 1px solid #fff;
    }
}


.body-right__icons{
    display: flex;
    align-items: center;

    div:not(:last-child){
        padding-right: 28px;
    }
}

.first__section_container{
    position: relative;
    display: flex;
    padding: 126px 0 141px 0;
}

.first__section{
    position: relative;
}

.first__section-img{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.first__section-left{
    flex: 0 1 50%;
}
.first__section-right{
    position: relative;
    flex: 0 1 50%;
}
.first__section-title{
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 64px;
    line-height: 117%;
    color: #000000;
}
.first__section-text{
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 94px;
    line-height: 153%;
    color: #000000;
    margin-bottom: 17px;

    span{
        color: #FFF;
    }
}
.first__section-btn{
    button{
        background: #000000;
        color: #FFF;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 100px;
        padding: 9px 35px;
    }
}

@media (max-width:1000px) {
    .first__section-text{
        font-size: 80px;
    }

    .first__section-title{
        font-size: 54px;
    }
}

@media (max-width:850px) {
    .first__section-text{
        font-size: 70px;
    }

    .first__section-title{
        font-size: 44px;
    }

    .body-right__search-input{
        input{
            display: none;
        }
    }
}

@media (max-width:750px) {


    .first__section-text{
        font-size: 60px;
    }

    .first__section-title{
        font-size: 44px;
    }

}


@media (max-width:650px) {

    .body-left__nav-cataloges{
        display: none;
    }

    .body-left__nav-brands{
        display: none;
    }

    .header__byrger{
        display: block;
    }

    .first__section-left{
        display: none;
    }
    .first__section-right{
        flex: 0 1 70%;
        margin: 0 auto;
    }

    .first__section-img{
        opacity: 0.6;
    }

    
}

@media (max-width:480px) {
    .body-left__nav{
        margin-left: 20px;
    }

    .first__section-text{
        font-size: 40px;
    }

    .first__section-title{
        font-size: 34px;
    }
    ._ibg{
        img{
          object-position: left;
        }
    }
}

@media (max-width: 450px) {
    .icons__marcer{
        display: none;
    }

    .icons__pay{
        display: none;
    }

    .body-left__nav{
        margin-left: 10px;
    }
}

.two__section{
    background: #E5E5E5;
}
.two__section_container{
    padding: 137px 0 120px 0;
}
.two__section-title{
    
}
.two__section-line{
    text-align: center;
}
.two__section-content{
    display: flex;
    flex-wrap: wrap;
    padding: 44px 8.5px;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.two__section-content__body{
    flex: 0 1 25%;
    padding: 10px 8.5px;
}
.two__section__body-img{
    position: relative;
}

.section-content__body-discount{
    position: absolute;
    bottom: 25px;
    right: 40px;

    span{
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 36px;
        line-height: 130.19%;
        color: #232323;
    }
}

._disc{
    position: absolute;
    bottom: 33px;
    right: 40px;
}

._disc2{
    position: absolute;
    bottom: 25px;
    right: 30px;
}

.section-bottom__img-dots{
    text-align: center;
}

.three__section{}
.three__section-iner{
    background: #E5E5E5;
}
.three__section_container{
    text-align: center;
}
.three__section__fossil{
    padding: 109px 0;
    img{
        max-width: 100%;
    }
}

.three__section-bottom{
    background: #ECB328;
    margin-top: -195px;
    min-height: 179px;
}
.section-bottom__discontoff{}
.discontoff__content{
    display: inline-block;
    padding: 26px 45px;
    background: #ECB328;
    border-radius: 50%;
    margin-top: -30px;
}
.discontoff_discont{
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 150%;
    text-align: center;
    color: #232323;

}
.discontoff__text{
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 150%;
    text-align: center;
    color: #313131;
}

@media (max-width:750px) {
   .discontoff_discont{
       font-size: 28px;
   } 

   .discontoff__text{
       font-size: 16px;
   }

   .discontoff__content{
    margin-top: 0px;
   }
}

@media (max-width:520px) {
    .discontoff__content{
        padding: 16px 25px;

        margin-top: 30px;
    }


}

.four__section{}

.four__section_iner{
   background: #E5E5E5;
}

.four__section_container{
    padding: 98px 0px 0px 0px;
}

.four__section-title{}

.four__section-line{
    text-align: center;
}

.four__section-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 75px 0px;
}

.four__section-content__item{
    flex: 0 1 25%;
    padding: 0 10px;
}

.four__section-content__item-img{
    text-align: center;
}

.four__section-content__item-text{
    padding: 19px 0px 67px 0px;
    text-align: center;
    p{
        font-family: Poppins;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 150%;
        color: #000000;
    }
}


.five__section{
    background: #E5E5E5;
}

.five__section-iner__top{
    background: #fff;
    margin-bottom: 124px;
}

.five__section_container{
    padding: 82px 0px 91px 0px;
}

.five__section-title{
    span{
        color: #ECB328;
    }
}

.five__section-line{
    text-align: center;
}

.five__section-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding-top: 62px;
}

.five__section-content__img{
    flex: 0 1 50%;
    text-align: center;

}

.five__section-content__item{
    position: relative;
    max-width: 85%;
    background: #ECB328;
    margin: 0 auto;
    img{
        max-width: 100%;
        opacity: 0.2;
    }
}


._sc-right{
    background: #232323;
    img{
        opacity: 0.2;
    }
}

._section-content-right{

}
.section-content__img-text{
    width: 100%;
    position: absolute;
    top: 40%;
    left: 0;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 129%;
    letter-spacing: 0.135em;
    color: #000000;
    
}

._sc-right-text{
    width: 100%;
    position: absolute;
    top: 40%;
    left: 0;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 129%;
    letter-spacing: 0.135em;
    color: #FFF;
}

.five__section-iner__bottom{
    background: #fff;
}


@media (max-width: 960px) {
    .section-content__img-text{
        font-size: 40px;
        //left: 20%;
    }
}

@media (max-width: 810px) {
    .section-content__img-text{
        font-size: 30px;
    }
}

@media (max-width: 610px) {
    .five__section-content{
        flex-direction: column;
    }
    .five__section-content__img{
        flex: 0 1 70%;
        padding-top: 20px;
    }

}